* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f5f7fa;
}

header{
    background: #0f172a;
    color: white;
    padding: 20px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

.hero {
    height: 90vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('https://images.unsplash.com/photo-1522202176988-66273c2fd55f');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.hero-text h2 {
    font-size: 55px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 30px;
}

.btn {
    padding: 14px 30px;
    background: #38bdf8;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: 0.3s;
}

.btn:hover {
    background: #0284c7;
}

section {
    padding: 70px 8%;
}

.title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 40px;
    color: #0f172a;
}

.cards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
}


.card {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin-bottom: 10px;
    color: #0f172a;
}

.card-content p {
    color: gray;
    margin-bottom: 15px;
}

.steps {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.step {
    background: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.step:hover {
    background: #38bdf8;
    color: white;
}

.step h2 {
    font-size: 45px;
    margin-bottom: 15px;
}

footer {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
}

@media(max-width:768px) {

    header {
        flex-direction: column;
    }

    nav {
        margin-top: 15px;
    }

    .hero-text h2 {
        font-size: 38px;
    }

}